@media (min-width: 600px) {
	.benefits .card {
		width: calc(100% /2 - 30px);
		margin: 15px;
	}
	.list-links li {
	margin: 10px 15px;
	max-width: calc(100% / 3 - 42px );
	min-width: calc(100% / 3 - 42px );
}

}

@media (min-width: 850px) {
	.benefits .card {
		width: calc(100% / 3 - 30px);
		margin: 15px;
	}
}
